<%- include('header', { cssPath: '/public/stylesheets/creates.css' })%>
<body>
<%- include('navbar') %>
<div>
    <section class="section">
        <h1>CREATE PROVINCE</h1>
        <div>
            <form method="post" action="/provinces/new/save">
                <div class="form">
                    <div class="fields">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="governor">Governor</label>
                            <input type="text" class="form-control" name="governor" id="governor"/>
                        </div>
                        <div class="form-group">
                            <label for="left-handed">Left Handed People</label>
                            <input type="text" class="form-control" name="leftHanded" id="left-handed"/>
                        </div>
                        <div class="form-group">
                            <label for="wine-produced">Wine Produced Annually</label>
                            <input type="text" class="form-control" name="wineProduced" id="wine-produced"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Create"/>
                        <a href="/provinces"><input type="button" value="Cancel"/></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
<%- include('footer') %>>