<%- include('header', { cssPath: '/public/stylesheets/creates.css' }) %>
<body>
<%- include('navbar') %>
<div>
    <section class="section">
        <h1>CREATE GOVERNOR</h1>
        <div>
            <form method="post" action="/governors/new/save">
                <div class="form">
                    <div class="fields">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="age">AGE</label>
                            <input type="number" class="form-control" name="age" id="age"/>
                        </div>
                        <div class="form-group">
                            <label for="favourite-gladiator">FAVOURITE GLADIATOR</label>
                            <input type="text" class="form-control" name="favouriteGladiator" id="favouriteGladiator"/>
                        </div>
                        <div class="form-group">
                            <label for="sandal-size">SANDAL SIZE</label>
                            <input type="number" class="form-control" name="sandalSize" id="sandalSize"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Create"/>
                        <a href="/governors"><input type="button" value="Cancel" /></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
<% include('footer')%>