<%- include('header', { cssPath: '/public/stylesheets/creates.css' }) %>>
<body>
<%- include('navbar') %>>
<div>
    <section class="section">
        <h1>CREATE GOVERNOR</h1>
        <div>
            <form method="post">
                <div class="form">
                    <div class="fields">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="age">Governor</label>
                            <input type="text" class="form-control" name="age" id="age"/>
                        </div>
                        <div class="form-group">
                            <label for="favourite-gladiator">Left Handed People</label>
                            <input type="text" class="form-control" name="favourite-gladiator" id="favourite-gladiator"/>
                        </div>
                        <div class="form-group">
                            <label for="sandal-size">Wine Produced Annually</label>
                            <input type="text" class="form-control" name="sandal-size" id="sandal-size"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Create"/>
                        <a href="../list/governors.html"><input type="button" value="Cancel" /></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
<% include('footer')%>