<%- include('header', { cssPath: '/public/stylesheets/edits.css' }) %>
<body>
<%- include('navbar') %>
<div>
  <section class="section">
    <h1>EDIT GOVERNOR</h1>
    <div>
      <form method="post">
        <div class="form">
          <div class="fields">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" required/>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" name="age" id="age"/>
            </div>
            <div class="form-group">
              <label for="favourite-gladiator">Favourite Gladiator</label>
              <input type="text" class="form-control" name="favourite-gladiator" id="favourite-gladiator"/>
            </div>
            <div class="form-group">
              <label for="sandal-size">Sandal Size</label>
              <input type="text" class="form-control" name="sandal-size" id="sandal-size"/>
            </div>
          </div>
          <div class="form-group buttons">
            <input type="submit" value="Save"/>
            <a href="../list/governors.html"><input type="button" value="Cancel"/></a>
            <a href="../list/governors.html"><input type="button" value="Delete"/></a>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
</body>
<%- include('footer') %>