.section-title {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    align-items: center;
}

.section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}



.btn-create {
    display: flex;
    justify-content: right;
}